.tariffs {
  display: flex;
  margin: 40px -15px;
  flex-wrap: wrap;
  justify-content: center;

  @include tablet {
    margin-top: 20px;
  }

  &__item-col-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;

    &:not(:nth-child(-n + 4)) {
      margin-top: 40px;
    }
    @include laptop {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;

      &:not(:nth-child(-n + 3)) {
        margin-top: 40px;
      }
    }
    @include tablet {
      flex: 0 0 50%;
      max-width: 50%;

      &:not(:nth-child(-n + 2)) {
        margin-top: 40px;
      }
    }

    @include mobile-large {
      flex: 0 0 100%;
      max-width: 320px;

      &:not(:nth-child(-n + 1)) {
        margin-top: 40px;
      }
    }
  }

  &__item-col-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 0 15px;

    &:not(:nth-child(-n + 4)) {
      margin-top: 40px;
    }

    @include mobile-large {
      flex: 0 0 50%;
      max-width: 50%;
      &:not(:nth-child(-n + 2)) {
        margin-top: 40px;
      }
    }
    @include mobile {
      flex: 0 0 100%;
      max-width: 320px;
      &:not(:nth-child(-n + 1)) {
        margin-top: 40px;
      }
    }
  }

  &__item {
    color: #fff;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: lighten($black, 10%);
    padding-bottom: 30px;
  }

  &__item-name,
  &__item-price {
    padding: 20px 10px;
    white-space: nowrap;
    overflow: hidden;
  }

  &__item-list {
    padding: 20px;
  }

  &__item-name {
    color: $blue;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__item-speed {
    font-size: 18px;
    font-weight: 500;
    margin-top: 8px;
    color: #fff;

    &::before {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: "\f3fd";
      margin-right: 10px;
      font-size: 20px;
    }
  }

  &__item-price {
    border-radius: 10px;
    background-color: $blue;
    line-height: 1;
  }

  &__item-price-currency {
    vertical-align: top;
    font-size: 20px;
  }

  &__item-price-value {
    font-size: 44px;
    line-height: 38px;
  }

  &__item-price-during {
    font-size: 20px;
  }

  &__item-list-item {
    &--plus::after {
      font-family: 'Font Awesome 5 Free';
      font-weight: 400;
      content: '\f0fe';
      margin-left: 8px;
    }
    & + & {
      margin-top: 25px;
    }
  }
}
