.tariffs {
  display: flex;
  margin: 40px -15px;
  flex-wrap: wrap;
  justify-content: center;

  @include tablet {
    margin-top: 20px;
  }

  &__item-col-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;

    &:not(:nth-child(-n + 4)) {
      margin-top: 40px;
    }
    @include laptop {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;

      &:not(:nth-child(-n + 3)) {
        margin-top: 40px;
      }
    }
    @include tablet {
      flex: 0 0 50%;
      max-width: 50%;

      &:not(:nth-child(-n + 2)) {
        margin-top: 40px;
      }
    }

    @include mobile-large {
      flex: 0 0 100%;
      max-width: 320px;

      &:not(:nth-child(-n + 1)) {
        margin-top: 40px;
      }
    }
  }

  &__item-col-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 0 15px;

    &:not(:nth-child(-n + 4)) {
      margin-top: 40px;
    }

    @include mobile-large {
      flex: 0 0 50%;
      max-width: 50%;
      &:not(:nth-child(-n + 2)) {
        margin-top: 40px;
      }
    }
    @include mobile {
      flex: 0 0 100%;
      max-width: 320px;
      &:not(:nth-child(-n + 1)) {
        margin-top: 40px;
      }
    }
  }

  &__item {
    color: #fff;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: lighten($black, 10%);
    padding-bottom: 30px;
  }

  &__item-name,
  &__item-price {
    padding: 20px 10px;
    white-space: nowrap;
    overflow: hidden;
  }

  &__item-list {
    padding: 20px;
  }

  &__item-name {
    color: $blue;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__item-speed {
    font-size: 20px;
    font-weight: 500;
    margin-top: 8px;
    color: #fff;
    display: block;

    &::before {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: "\f3fd";
      margin-right: 14px;
      font-size: 20px;
    }
  }

  &__item-price {
    border-radius: 10px;
    background-color: $blue;
    line-height: 1;
  }

  &__item-price-currency {
    vertical-align: top;
    font-size: 20px;
  }

  &__item-price-value {
    font-size: 36px;
    line-height: 1;
  }

  &__item-price-during {
    font-size: 20px;
  }

  &__item-explanation {
    color: $semi-white;
    opacity: 0;
    display: inline-block;
    padding: 2px 4px;
    position: absolute;
    font-size: 10px;
    right: 0;
    top: -22px;
    z-index: 11;
    border-radius: 4px;
    border: 1px solid $semi-white;
    transition: opacity .3s linear;
  }

  &__item-list-item {
    position: relative;
    cursor: pointer;
    padding: 10px 0;

    &:hover {
      .tariffs__item-explanation {
        opacity: 1;
      }
    }

    &::after {
      border: 6px solid transparent;
      cursor: pointer;
      font-family: 'Font Awesome 5 Free';
      font-weight: 700;
      font-size: 18px;
      margin-left: 8px;
    }

    &--plus::after {
      color: $green;
      content: '\f055';
    }
    &--money::after {
      font-family: 'Font Awesome 5 Brands';
      margin-left: 0;
      color: $orange;
      font-weight: 400;
      content: '\f42c';
    }
    &--minus:after {
      color: $red;
      content: '\f056';
    }
    &--exclamation:after {
      color: $green;
      content: '\f06a';
    }
    &--tv::after {
      color: $green;
      content: '\f26c';
    }
    &:last-child {
      border-top: 2px dashed $blue;
    }

    & + & {
      margin-top: 4px;
    }
  }
}
