.banner {
  $root: &;
  background: linear-gradient(to bottom, $beige 80%, $brown 20%);
  flex-grow: 1;
  min-height: 400px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &.banner--alternative {
    flex-grow: 0;
    min-height: 200px;

    #{$root} {
      &__wrapper {
        max-width: 800px;
        padding: 20px 10px 80px 10px;
        z-index: 10;

        @include mobile {
          padding-left: 0;
          padding-right: 0;
        }
      }
      &__title {
        margin-bottom: 20px;
      }
      &__bg-table, &__bg-sofa, &__bg-books, &__bg-tv {
        display: none;
      }
    }
  }

  &__container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &__wrapper {
    max-width: 600px;
    padding: 100px 10px 200px 10px;
    z-index: 10;

    @include mobile {
      padding-left: 6px;
      padding-right: 6px;
    }
  }

  &__title {
    font-family: 'Caveat', cursive;
    font-size: 50px;
    margin-bottom: 40px;

    @include mobile-large {
      line-height: 1;
    }

    @include mobile {
      font-size: 40px;
      margin-bottom: 28px;
    }
  }
  &__bg-sofa {
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 340px;
    height: 340px;
    background: url("../img/sofa+label@2x.png") no-repeat center / contain;

    @include tablet {
      width: 280px;
      height: 280px;
    }

    @include mobile-large {
      bottom: 5px;
      width: 160px;
      height: 160px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__bg-table {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 200px;
    height: 200px;
    background: url("../img/table-with-cat@2x.png") no-repeat center / contain;

    @include mobile-large {
      display: none;
    }
  }
  &__bg-books {
    position: absolute;
    left: 80px;
    top: 20px;
    width: 210px;
    height: 48px;
    background: url("../img/books@2x.png") no-repeat center / contain;

    @include mobile-large {
      display: none;
    }
  }
  &__bg-tv {
    position: absolute;
    right: 320px;
    top: 20px;
    width: 190px;
    height: 32px;
    background: url("../img/trinity-sweet@2x.png") no-repeat center / contain;
    z-index: 11;
    transition: transform .3s ease-in;
    border-radius: 10px;


    @include laptop {
      right: 110px;
    }

    @include mobile-large {
      left: 50%;
      transform: translateX(-50%);
    }
    &:hover {
      box-shadow: 0 0 40px rgba(0, 0, 0, .2);
    }
  }
}