.header {
  display: flex;
  flex-direction: column;
  min-height: 90vh;

  &--alternative {
    min-height: auto;


    .banner {
      flex-grow: 0;
      min-height: 200px;


      &__wrapper {
        max-width: 800px;
        padding: 20px 10px 80px 10px;
        z-index: 10;

        @include mobile {
          padding-left: 0;
          padding-right: 0;
        }
      }
      &__title {
        margin-bottom: 20px;
      }
      &__bg-table, &__bg-sofa, &__bg-books, &__bg-tv {
        display: none;
      }

    }
  }
}

