.nav {
  padding: 10px 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #263238;
  min-height: 74px;
  text-transform: uppercase;
  font-weight: 500;
  transition: all .6s ease;
  overflow-y: hidden;

  @include mobile-large {
    height: 74px;
  }

  &__item {
    padding: 8px 16px;
    color: #ccc;
    white-space: nowrap;
    transition: all .2s linear;
    border-radius: 10px;
    margin: 10px;

    &:hover,
    &:focus,
    &--active {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
      color: #fff;
    }

    @include mobile-large {
      width: 45%;
      padding: 10px;
    }
    @include mobile {
      width: 100%;
    }
  }
  &__container {
    margin: 0 -10px;

    @include mobile-large {
      margin: 20px -10px;
    }
  }

  &__btn {
    display: none;
    width: 48px;
    height: 40px;
    border-radius: 4px;
    margin: 8px 0 12px 0;
    background-color: rgba(255,255,255,0.2);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;

    &:hover,
    &:focus {
      box-shadow: 0 0 14px rgba(255, 255, 255, 0.3);
      color: #fff;
    }

    @include mobile-large {
      display: flex;
    }
  }
  &__btn-bar {
    width: 80%;
    height: 2px;
    border-radius: 1px;
    background-color: #eee;
  }
}