$widescreen: 1440px;
$laptop: 1200px;
$tablet: 960px;
$mobile-large: 720px;
$mobile: 480px;

//colors
$red: #e74c3c;
$green: #8bc34a;
$beige: #ffe9cf;
$blue: #1875ba;
$brown: #603c2a;
$black: #263238;
$gray: #555;


//font-family: 'Roboto', sans-serif;
//font-family: 'Montserrat', sans-serif;
//font-family: 'Caveat', cursive;